1. Załaduj bibliotekę `pandas`.

In [1]:
import pandas as pd

2. Wczytaj dane z pliku *mieszkania.csv* do zmiennej i wyświetl 5 pierwszych wierczy.

In [3]:
df = pd.read_csv("./mieszkania.csv")

df.head()

,Unnamed: 0,Id,Expected,Rooms,SqrMeters,Floor,Location
0,0,1,269000,3,55.00,1,Poznań Zawady
1,1,2,320000,3,79.00,10,Poznań Rataje ul. Orła Bialego
2,2,3,146000,1,31.21,1,Poznań Nowe Miasto ul. Kawalerka W Nowym Bloku...
3,3,4,189000,2,44.00,2,Poznań Grunwald Ogrody Jeżyce Centrum Łazarz u...
4,4,5,480240,2,65.25,1,Poznań ul. Droga Dębińska 19

3. Znajdź informacje ilu pokojowe mieszkania są najpopularniejsze i ile ich jest.

In [4]:
df['Rooms'].value_counts()

2     2208
3     1553
1      620
4      523
5       81
6       13
10       1
7        1
Name: Rooms, dtype: int64

4. Znajdź 10 najtańszych mieszkań.

5. Napisz funkcje ``find_borough(desc)``, która przyjmuje 1 argument typu *string* i zwróci jedną z dzielnic zdefiniowaną w liście ``dzielnice``. Funkcja ma zwrócić pierwszą (wzgledem kolejności) nazwę dzielnicy, która jest zawarta w ``desc``. Jeżeli żadna nazwa nie została odnaleziona, zwróć napis *Inne*.

In [3]:
def find_borough(desc):
    dzielnice = ['Stare Miasto',
                 'Wilda',
                 'Jeżyce',
                 'Rataje',
                 'Piątkowo',
                 'Winogrady',
                 'Miłostowo',
                 'Dębiec']

6. Dodaj kolumnę ``Borough``, która będzie zawierać informacje o dzielnicach i powstanie z kolumny ``Localization``. Wykorzystaj do tego funkcję ``find_borough``.

7. Wyświetl histogram przedstawiający liczbę ogłoszeń mieszkań z podziałem na dzielnice.

8. Znajdź średnią cenę mieszkania n-pokojowego.

In [11]:
df[df['Rooms'] == 2]['Expected'].mean()

303861.86277173914

9. Znajdź dzielnice, które zawierają oferty mieszkań na 13 piętrze.

In [8]:
df.query('Floor == 13')['Location']

2195    Poznań Winogrady ul. Os. Wichrowe Wzgórze - Zm...
2773     Poznań Stare Miasto Winogrady ul. Os. Zwycięstwa
Name: Location, dtype: object

10. Znajdź wszystkie ogłoszenia mieszkań, które znajdują się na Winogradach, mają 3 pokoje i są położone na 1 piętrze.